*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
.containerr{ display:block; }
@media only screen and (orientation:landscape){
  .containerr {  
    
  }
}
@media only screen and (orientation: portrait){
  .containerr {  
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }
}